<nav class="container">
  <div class="demo-navbar">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <div class="brand">
        WeMakeVRPorn.com
      </div>
      <div class="tagline">
        Truly Hands Free Enjoyment
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row" id="hotchick">
    <%= image_tag("HotGirl.jpg", width: "80%") %>
    <%= image_tag("OculusRift.png", width: "50%", id: "oculus-image") %>
  </div>
  <div class="row offer">
    <div class="col-lg-10 offer-text">
      SPECIAL LAUNCHING OFFER - Complete Access For Only $9.99 
    </div>
    <div class="col-lg-2 offer-button">
      <%= link_to "Try Me", videos_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

<div class="container demo-container">
  <div class="row demo-title">
    Over the Kitchen Table with Sara
  </div>
  <div class="row demo-content">
    <div class="col-lg-9">
      <div class="row">
        video here
      </div>
      <div class="row">
        <div class="demo-video-links">
          regular video
        </div>
        <div class="demo-video-links">
          vr video
        </div>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>

<div class="container demo-container">
  <div class="row demo-title">
    Over the Kitchen Table with Sara
  </div>
  <div class="row demo-content">
    <div class="col-lg-9">
      <div class="row">
        video here
      </div>
      <div class="row">
        <div class="demo-video-links">
          regular video
        </div>
        <div class="demo-video-links">
          vr video
        </div>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>

<div class="container demo-container">
  <div class="row demo-title">
    Over the Kitchen Table with Sara
  </div>
  <div class="row demo-content">
    <div class="col-lg-9">
      <div class="row">
        video here
      </div>
      <div class="row">
        <div class="demo-video-links">
          regular video
        </div>
        <div class="demo-video-links">
          vr video
        </div>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>

<div class="container demo-container">
  <div class="row demo-title">
    Over the Kitchen Table with Sara
  </div>
  <div class="row demo-content">
    <div class="col-lg-9">
      <div class="row">
        video here
      </div>
      <div class="row">
        <div class="demo-video-links">
          regular video
        </div>
        <div class="demo-video-links">
          vr video
        </div>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>

<div class="container">
  <div class="row offer">
    <div class="col-lg-10 offer-text">
      SPECIAL LAUNCHING OFFER - Complete Access For Only $9.99 
    </div>
    <div class="col-lg-2 offer-button">
      <%= link_to "Try Me", videos_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
  <div class="row testimony">
    <div class="col-lg-6">
      <div class="row">
        <fieldset>
          "Oh Man!!  Ever since I bought the Oculus I KNEW this day was coming.  I beat off so hard.  My toe nails shot off through my socks!"
        </fieldset>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          Joe Blow<br>
          Master Beta Tester
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <fieldset>
          "Oh Man!!  Ever since I bought the Oculus I KNEW this day was coming.  I beat off so hard.  My toe nails shot off through my socks!"
        </fieldset>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          Joe Blow<br>
          Master Beta Tester
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
</div>

